@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Buenos aires<br />
        <abbr title="Phone">P:</abbr>
        1560054285
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:Support@example.com">nicolasdelponte2012@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">nicolasdelponte2012@gmail.com</a>
    </address>
</main>